config/*aero*
crash-reports
*.log
saves
pillar
stall-reports
*cache*
patchouli_data.json
*.zip
*.png
local
logs
init
fonts
library
astralsorcery
*botania*
.*ixins*
midis
llibrary
*Reauth*
.curseclient
.mixin.out
mods/1.12.2
