# Configuration file

"enchantability - armor" {
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 17]
    I:ATHAUMINITE=17

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ArmorMaterial=15
    I:BRONZE=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:B_ELEMENTIUM=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12
    I:CLOAKING=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:CULTIST_LEADER=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_PLATE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_ROBE=13
    I:ChefToque=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:FORTRESS=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15
    I:MAGICMODDRAGONWINGS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANASTEEL=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANAWEAVE=18
    I:MUMMY=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURAINFUSED_IRON=16
    I:PERIDOT=16
    I:RAGNAROK.ECLIPSE=26
    I:RAGNAROK.FENRIS=26
    I:RAGNAROK.SUNMAKER=26
    I:RUBY=10
    I:SAPPHIRE=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SILK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SPECIAL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:SYLVAN=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 21]
    I:TBBLOODY=21

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:THAUMIUM=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOIDROBE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:VOID_FORTRESS=15
    I:WANDERER=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:WILDWOOD=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:bear_cape_black=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:bear_cape_brown=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:bear_cape_kermode=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:bone=12
    I:cloud_boots=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:crownGold=25
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:ashen_cloak"=18
    I:faradayChains=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:goggles=25
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:guard_helm=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:hat_material=0
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:mud_material=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 21]
    I:"netherex:salamander_hide"=21

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"netherex:wither_bone"=16
    I:"nex:salamander_hide"=21
    I:"nex:wither_bone"=16
    I:robes_cultist=20
    I:runesofwizardry_INSCRIPTION_MATERIAL=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:sunglasses=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"thaumicaugmentation:VOID_BOOTS"=18
    I:"travellersboots:boots_mk1"=4
    I:"travellersboots:boots_mk2"=8
    I:"travellersboots:boots_mk3"=12
    I:"travellersboots:boots_mk4"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_black=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_classic=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_timber=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:woven_world_thread=20
}


"enchantability - tools" {
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10
    I:AETHERIUM=10
    I:AMPToolMaterial=25
    I:BRONZE=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:B_ELEMENTIUM=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:CVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10
    I:Dev=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"EX:COMPRESSED_COBBLESTONE"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"EX:DOUBLE_COMPRESSED_COBBLESTONE"=15
    I:FLINT=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:FLINTCUTTOOL=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GOLD=40
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:MAGICAL=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:MANASTEEL=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MANASTEEL_GLASS=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURA_INFUSED_IRON=16
    I:PERIDOT=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:PRIMALVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:PRIMAL_CUTTER=20
    I:RAGNAROK.FLAREBRINGER=26
    I:RAGNAROK.SHADOWBREAKER=26
    I:RUBY=10
    I:SAPPHIRE=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:SKULL=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:THAUMIUM=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:THAUMIUM_ELEMENTAL=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:VOIDFLAME=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:bound=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:demonic=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"embers:aluminum"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"embers:bronze"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:clockworkAxe"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:clockworkPickaxe"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"embers:copper"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:dawnstone"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"embers:electrum"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:grandhammer"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 4]
    I:"embers:lead"=4

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:nickel"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"embers:silver"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"embers:tin"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:"embers:tyrfing"=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30
    I:fish=0
    I:goblin_metal=10
    I:hammer_heat=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 72]
    I:immolation=72
    I:khnumite=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"mysticalworld:amethyst"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"mysticalworld:copper"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"mysticalworld:silver"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"netherex:amedian"=12
    I:"nex:golden_wither_bone"=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=25
    I:sword_ice=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:thauminite=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:unicorn_horn=15
    I:vile=14
    I:zorrasteel=0
}


