# Configuration file

general {
    # If cobwebs can be used in anvils to remove enchantments. [default: true]
    B:"Enable Cobwebs"=true

    # A list of enchantments that are banned from the enchanting table and other natural sources. [default: ]
    S:"Enchantment Blacklist" <
        enderio:shimmer
        cofhcore:soulbound
        enderio:shimmer
        enderio:repellent
        cofhcore:smelting
        endercore:autosmelt
        mob_mash:curseofliberation
        apotheosis:magic_protection
        ffenchants:cursed_body
        randomenchantments:fast_place
        ebwizardry:flaming_weapon
        ebwizardry:freezing_weapon
        ebwizardry:magic_bow
        ebwizardry:magic_sword
        evilcraft:breaking
        apotheosis:life_mending
        apotheosis:berserk
        apotheosis:rebounding
     >

    # If any two enchanted items can be combined in an Anvil. [default: false]
    B:"Item Merging"=true

    # The maximum enchantment power a table can receive from normal sources. [range: 0.0 ~ 3.4028235E38, default: 20.0]
    S:"Max Normal Power"=20.0

    # The maximum enchantment power a table can receive. [range: 0.0 ~ 3.4028235E38, default: 75.0]
    S:"Max Power"=75.0
}


