# Configuration file

general {
    # Disable overlay of grid on Manifest. (Client Only
    B:"Disable Manifest Grid"=true

    # Whether having a manifest in your inventory is required to open the screen
    B:"Manifest Presence"=true

    # Limit of matrix cores per player's network
    I:"Matrix Core Limit"=1

    # Radiant chest highlight colour (use HTML syntax i.e., #FFFFFF
    S:"Radiant Chest Highlight"=#1922C4

    # Limit of resonators per player's network
    I:"Resonator Limit"=3

    # Number of ticks it takes to create raw quartz
    I:"Resonator Time"=6000

    # Causes Radiant Chests, Troves, etc, to be unbreakable when not empty
    B:"Unbreakable Radiant Chests & Troves"=false

    # Disable to use default Minecraft-style GUI elements. (Client Only)
    B:"Use Pretty GUIs"=true

    ##########################################################################################################
    # tome of arcana settings
    #--------------------------------------------------------------------------------------------------------#
    # Tome of Arcana settings (from Guidebook)
    ##########################################################################################################

    "tome of arcana settings" {
    }

}


