# Configuration file

General {
    # Base durability of the helmet.
    I:Durability=256

    # The range at which mobs will have the glow effect applied to them.
    I:"Mob Vision Range"=64
}


HUD {
    # Whether or not to show the full numerical durability.
    B:"Complex Durability"=true

    # Whether or not to show the HUD with icons for night vision, mob vision, and durability.
    B:Show=true

    # Number of ticks (1/20th of a second) you need to sneak for before the HUD will display.
    I:Ticks=45
}


