# Configuration file

balance {
    # The amount of souls to absorb from Mob Spawners. [range: 0 ~ 2147483647, default: 200]
    I:absorptionBonus=200

    # Adds a shapeless recipe that allows shards to be reset fresh. [default: true]
    B:addShardResetRecipe=true

    # Allows boss mobs to be spawned by cages. Some bosses (like the Ender Dragon) have custom logic which causes them to not work properly when spawned. [default: false]
    B:allowBossSpawns=false

    # Allows fake players to grow Shards in their inventories. [default: false]
    B:allowFakePlayers=false

    # Allows shards of the same entity to be combined in an anvil for a direct kill addition. [default: true]
    B:allowShardCombination=true

    # Allow shards to absorb Mob Spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # Mobs spawned via the cage should count toward shard kills. [default: false]
    B:countCageBornForShard=false

    # Mobs spawned via the cage will drop experience. [default: true]
    B:dropExperience=true

    # The maximum amount of cage born mobs that a cage can have in a 16 block radius before shutting off. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


client {
    # Displays a durability bar for how full the shard is compared to the max tier available. [default: true]
    B:displayDurabilityBar=true

    # Displays a shard for every enabled entity in the creative tab. [default: false]
    B:explodeCreativeTab=false

    # Adds blacklisted entities to the creative tab if "explodeCreativeTab" is true. [default: false]
    B:ignoreBlacklistForTab=false
}


compat {

    bloodmagic {
        # Requires each mob spawned to cost LP. [default: false]
        B:spawnsRequireLP=false
    }

}


entity_list {
    B:"aether:aechor_plant"=true
    B:"aether:aerbunny"=true
    B:"aether:aerwhale"=true
    B:"aether:burrukai"=true
    B:"aether:carrion_sprout"=true
    B:"aether:cockatrice"=true
    B:"aether:edison"=true
    B:"aether:ethereal_wisp"=true
    B:"aether:fangrin"=true
    B:"aether:fleeting_wisp"=true
    B:"aether:frostpine_totem"=true
    B:"aether:glactrix"=true
    B:"aether:glitterwing"=true
    B:"aether:josediya"=true
    B:"aether:kirrid"=true
    B:"aether:kraisith"=true
    B:"aether:moa"=true
    B:"aether:mysterious_figure"=true
    B:"aether:necromancer"=true
    B:"aether:nex_spirit"=true
    B:"aether:pink_baby_swet"=true
    B:"aether:shade_of_arkenzus"=true
    B:"aether:sheepuff"=true
    B:"aether:skyroot_lizard"=true
    B:"aether:soaring_wisp"=true
    B:"aether:swet"=true
    B:"aether:taegore"=true
    B:"aether:tempest"=true
    B:"aether:tivalier"=true
    B:"aether:varanys"=true
    B:"aether:zephyr"=true
    B:"astralsorcery:entityflare"=true
    B:"astralsorcery:entityliquidspark"=true
    B:"astralsorcery:entityspectraltool"=true
    B:"atum:assassin"=true
    B:"atum:barbarian"=true
    B:"atum:bonestorm"=true
    B:"atum:brigand"=true
    B:"atum:camel"=true
    B:"atum:desert_rabbit"=true
    B:"atum:desert_wolf"=true
    B:"atum:forsaken"=true
    B:"atum:mummy"=true
    B:"atum:nomad"=true
    B:"atum:pharaoh"=true
    B:"atum:scarab"=true
    B:"atum:stoneguard"=true
    B:"atum:stonewarden"=true
    B:"atum:sunspeaker"=true
    B:"atum:tarantula"=true
    B:"atum:warlord"=true
    B:"atum:wraith"=true
    B:"betternether:firefly"=true
    B:"bloodmagic:corrupted_chicken"=true
    B:"bloodmagic:corrupted_sheep"=true
    B:"bloodmagic:corrupted_spider"=true
    B:"bloodmagic:corrupted_zombie"=true
    B:"bloodmagic:mimic"=true
    B:"bloodmagic:sentient_specter"=true
    B:"botania:doppleganger"=true
    B:"botania:pink_wither"=true
    B:"botania:pixie"=true
    B:"brownmooshrooms:brown_mooshroom"=true
    B:"charm:spectre"=true
    B:"dailies:bailey"=true
    B:"dawnoftime:japanese_dragon"=true
    B:"dawnoftime:millager"=true
    B:"dimdoors:mob_monolith"=true
    B:"ebwizardry:blaze_minion"=true
    B:"ebwizardry:decoy"=true
    B:"ebwizardry:evil_wizard"=true
    B:"ebwizardry:ice_giant"=true
    B:"ebwizardry:ice_wraith"=true
    B:"ebwizardry:lightning_wraith"=true
    B:"ebwizardry:magic_slime"=true
    B:"ebwizardry:phoenix"=true
    B:"ebwizardry:shadow_wraith"=true
    B:"ebwizardry:silverfish_minion"=true
    B:"ebwizardry:skeleton_minion"=true
    B:"ebwizardry:spider_minion"=true
    B:"ebwizardry:spirit_horse"=true
    B:"ebwizardry:spirit_wolf"=true
    B:"ebwizardry:storm_elemental"=true
    B:"ebwizardry:wither_skeleton_minion"=true
    B:"ebwizardry:wizard"=true
    B:"ebwizardry:zombie_minion"=true
    B:"embers:ancient_golem"=true
    B:"evilcraft:controlled_zombie"=true
    B:"evilcraft:netherfish"=true
    B:"evilcraft:poisonous_libelle"=true
    B:"evilcraft:vengeance_spirit"=true
    B:"evilcraft:werewolf"=true
    B:"fairylights:ladder"=true
    B:"incorporeal:potion_soul_core_collector"=true
    B:"lumen:companion_orb"=true
    B:"lumen:companion_orb_a"=true
    B:"lumen:ember"=true
    B:"lumen:faerie"=true
    B:"lumen:firefly"=true
    B:"lumen:lightning_bug"=true
    B:"lumen:psi_firefly"=true
    B:"lumen:rad_flame"=true
    B:"lumen:will_o_wisp"=true
    B:"melongolem:melon_golem"=true
    B:"melongolem:tiny_melon_golem"=true
    B:"minecraft:armor_stand"=false
    B:"minecraft:bat"=true
    B:"minecraft:blaze"=true
    B:"minecraft:cave_spider"=true
    B:"minecraft:chicken"=true
    B:"minecraft:cow"=true
    B:"minecraft:creeper"=true
    B:"minecraft:donkey"=true
    B:"minecraft:elder_guardian"=false
    B:"minecraft:ender_dragon"=false
    B:"minecraft:enderman"=true
    B:"minecraft:endermite"=true
    B:"minecraft:evocation_illager"=true
    B:"minecraft:ghast"=true
    B:"minecraft:giant"=true
    B:"minecraft:guardian"=true
    B:"minecraft:horse"=true
    B:"minecraft:husk"=true
    B:"minecraft:illusion_illager"=true
    B:"minecraft:llama"=true
    B:"minecraft:magma_cube"=true
    B:"minecraft:mooshroom"=true
    B:"minecraft:mule"=true
    B:"minecraft:ocelot"=true
    B:"minecraft:parrot"=true
    B:"minecraft:pig"=true
    B:"minecraft:polar_bear"=true
    B:"minecraft:rabbit"=true
    B:"minecraft:sheep"=true
    B:"minecraft:shulker"=true
    B:"minecraft:silverfish"=true
    B:"minecraft:skeleton"=true
    B:"minecraft:skeleton_horse"=true
    B:"minecraft:slime"=true
    B:"minecraft:snowman"=true
    B:"minecraft:spider"=true
    B:"minecraft:squid"=true
    B:"minecraft:stray"=true
    B:"minecraft:vex"=true
    B:"minecraft:villager"=true
    B:"minecraft:villager_golem"=true
    B:"minecraft:vindication_illager"=true
    B:"minecraft:witch"=true
    B:"minecraft:wither"=false
    B:"minecraft:wither_skeleton"=true
    B:"minecraft:wolf"=true
    B:"minecraft:zombie"=true
    B:"minecraft:zombie_horse"=true
    B:"minecraft:zombie_pigman"=true
    B:"minecraft:zombie_villager"=true
    B:"mowziesmobs:baby_foliaath"=true
    B:"mowziesmobs:barako"=true
    B:"mowziesmobs:barakoan_barakoana"=true
    B:"mowziesmobs:barakoan_player"=true
    B:"mowziesmobs:barakoana"=true
    B:"mowziesmobs:barakoaya"=true
    B:"mowziesmobs:ferrous_wroughtnaut"=true
    B:"mowziesmobs:foliaath"=true
    B:"mowziesmobs:frostmaw"=true
    B:"mowziesmobs:grottol"=true
    B:"mowziesmobs:lantern"=true
    B:"mowziesmobs:naga"=true
    B:"multimob:dummy"=true
    B:"mysticalworld:entity_beetle"=true
    B:"mysticalworld:entity_deer"=true
    B:"mysticalworld:entity_fox"=true
    B:"mysticalworld:entity_frog"=true
    B:"primitivemobs:baby_spider"=true
    B:"primitivemobs:bewitched_tome"=true
    B:"primitivemobs:blazing_juggernaut"=true
    B:"primitivemobs:brain_slime"=true
    B:"primitivemobs:chameleon"=true
    B:"primitivemobs:dodo"=true
    B:"primitivemobs:festive_creeper"=true
    B:"primitivemobs:filch_lizard"=true
    B:"primitivemobs:flame_spewer"=true
    B:"primitivemobs:goblin"=true
    B:"primitivemobs:grovesprite"=true
    B:"primitivemobs:harpy"=true
    B:"primitivemobs:haunted_tool"=true
    B:"primitivemobs:lily_lurker"=true
    B:"primitivemobs:lost_miner"=true
    B:"primitivemobs:mimic"=true
    B:"primitivemobs:mother_spider"=true
    B:"primitivemobs:rocket_creeper"=true
    B:"primitivemobs:sheepman"=true
    B:"primitivemobs:skeleton_warrior"=true
    B:"primitivemobs:support_creeper"=true
    B:"primitivemobs:traveling_merchant"=true
    B:"primitivemobs:treasure_slime"=true
    B:"primitivemobs:trollager"=true
    B:"primitivemobs:void_eye"=true
    B:"quark:archeologist"=true
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:"skeletalband:musical_skeleton"=true
    B:"soot:muse"=true
    B:"testdummy:dummy"=true
    B:"thaumcraft:arcanebore"=true
    B:"thaumcraft:brainyzombie"=true
    B:"thaumcraft:cultistcleric"=true
    B:"thaumcraft:cultistknight"=true
    B:"thaumcraft:cultistleader"=true
    B:"thaumcraft:cultistportalgreater"=true
    B:"thaumcraft:cultistportallesser"=true
    B:"thaumcraft:eldritchcrab"=true
    B:"thaumcraft:eldritchgolem"=true
    B:"thaumcraft:eldritchguardian"=true
    B:"thaumcraft:eldritchwarden"=true
    B:"thaumcraft:firebat"=true
    B:"thaumcraft:giantbrainyzombie"=true
    B:"thaumcraft:golem"=true
    B:"thaumcraft:inhabitedzombie"=true
    B:"thaumcraft:mindspider"=true
    B:"thaumcraft:pech"=true
    B:"thaumcraft:spellbat"=true
    B:"thaumcraft:taintacle"=true
    B:"thaumcraft:taintaclegiant"=true
    B:"thaumcraft:taintacletiny"=true
    B:"thaumcraft:taintcrawler"=true
    B:"thaumcraft:taintseed"=true
    B:"thaumcraft:taintseedprime"=true
    B:"thaumcraft:taintswarm"=true
    B:"thaumcraft:thaumslime"=true
    B:"thaumcraft:turretadvanced"=true
    B:"thaumcraft:turretbasic"=true
    B:"thaumcraft:wisp"=true
    B:"thebetweenlands:angler"=true
    B:"thebetweenlands:blind_cave_fish"=true
    B:"thebetweenlands:blood_snail"=true
    B:"thebetweenlands:boulder_sprite"=true
    B:"thebetweenlands:chiromaw"=true
    B:"thebetweenlands:dark_druid"=true
    B:"thebetweenlands:dragonfly"=true
    B:"thebetweenlands:dreadful_mummy"=true
    B:"thebetweenlands:firefly"=true
    B:"thebetweenlands:fortress_boss"=true
    B:"thebetweenlands:fortress_boss_blockade"=true
    B:"thebetweenlands:fortress_boss_spawner"=true
    B:"thebetweenlands:fortress_boss_turret"=true
    B:"thebetweenlands:frog"=true
    B:"thebetweenlands:gas_cloud"=true
    B:"thebetweenlands:gecko"=true
    B:"thebetweenlands:greebling"=true
    B:"thebetweenlands:leech"=true
    B:"thebetweenlands:lurker"=true
    B:"thebetweenlands:mire_snail"=true
    B:"thebetweenlands:mire_snail_egg"=true
    B:"thebetweenlands:mummy_arm"=true
    B:"thebetweenlands:peat_mummy"=true
    B:"thebetweenlands:pyrad"=true
    B:"thebetweenlands:root_sprite"=true
    B:"thebetweenlands:silt_crab"=true
    B:"thebetweenlands:sludge"=true
    B:"thebetweenlands:smoll_sludge"=true
    B:"thebetweenlands:spirit_tree_face_large"=true
    B:"thebetweenlands:spirit_tree_face_small"=true
    B:"thebetweenlands:sporeling"=true
    B:"thebetweenlands:swamp_hag"=true
    B:"thebetweenlands:tamed_spirit_tree_face"=true
    B:"thebetweenlands:tar_beast"=true
    B:"thebetweenlands:tarminion"=true
    B:"thebetweenlands:termite"=true
    B:"thebetweenlands:toad"=true
    B:"thebetweenlands:wight"=true
    B:"totemic:bald_eagle"=true
    B:"totemic:baykok"=true
    B:"totemic:buffalo"=true
    B:"wizardry:angel_zachriel"=true
    B:"wizardry:fairy"=true
    B:"wizardry:jump_pad"=true
    B:"wizardry:spirit_blight"=true
    B:"wizardry:spirit_wight"=true
    B:"wizardry:summon_zombie"=true
    B:"wizardry:unicorn"=true
}


server {
    # Requires the shard owner to be online. The owner is the first person to obtain a kill with the shard. [default: false]
    B:requireOwnerOnline=false

    # Requires a redstone signal to activate cages regardless of tier. [default: false]
    B:requireRedstoneSignal=false
}


